.wrapper {
  display: flex;
  justify-content: center;

  .login-form {
    padding: 30px;

    .mat-divider {
      margin-bottom: 15px;
    }

    .form-action-buttons > button,
    .form-action-buttons > a {
      width: 100%;
    }

    .or-label {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
