<div class="mat-elevation-z8 padded-form">
  <form [formGroup]="form" (submit)="submitForm()">
    <ng-container *ngFor="let formControl of formConfig.formControls">
      <mat-form-field class="full-width">
        <mat-label>{{formControl.fieldName}}</mat-label>
        <input matInput placeholder="" [formControlName]="formControl.alias" [readonly]="formControl.alias === formConfig.idAlias">
        <mat-icon matSuffix *ngIf="formControl.alias === formConfig.idAlias">key</mat-icon>
      </mat-form-field>
    </ng-container>
    <mat-divider></mat-divider>
    <div class="form-action-buttons">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button type="button" [routerLink]="['../list']">Cancel</button>
    </div>
  </form>
</div>
