.main-content {
  padding: 30px;
}

.site-options {
  position: absolute;
  top: 0;
  right: 3rem;
  padding: 8px;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: center;
  z-index: 999;
}