<h1>Configable</h1>
<p>A basic CRUD web app configurable with JSON</p>
<mat-card class="loading-options">
    <mat-card-content>
        <div>
            <p>Upload a JSON file</p>
            <button mat-raised-button color="primary" (click)="fileInput.click()">Choose</button>
            <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
            <form [formGroup]="loadFromUrlForm" class="load-from-url-form">
                <p>Load JSON from URL</p>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>Url</mat-label>
                    <input matInput type="url" formControlName="url" placeholder="Url"/>
                </mat-form-field>
            </form>
            <button type="button" mat-raised-button color="primary" (click)="loadJsonFromUrl()">Fetch</button>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div>
            <p>
                Start with a <a mat-flat-button href="/assets/config.json" target="_blank">sample <mat-icon iconPositionEnd>open_in_new</mat-icon></a>
            </p>
            <button mat-raised-button color="primary" (click)="loadSampleConfig()">Load</button>
        </div>
    </mat-card-content>
</mat-card>
<p>
    <a mat-flat-button href="/assets/config-schema.json" target="_blank">
        View JSON schema
        <mat-icon iconPositionEnd>open_in_new</mat-icon>
    </a>
</p>