<h1>Welcome</h1>
<div>
    <button mat-raised-button (click)="fileInput.click()">Upload a JSON file</button>
    <input type="file" (change)="onFileSelected($event)" #fileInput hidden />
</div>
<p>or</p>
<form [formGroup]="loadFromUrlForm" class="load-from-url-form">
    <mat-card>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Url</mat-label>
            <input matInput type="url" formControlName="url" placeholder="Url"/>
        </mat-form-field>
        <button type="button" mat-raised-button (click)="loadJsonFromUrl()">Load JSON from URL</button>
    </mat-card>
</form>
<p>or</p>
<div>
    <button mat-raised-button (click)="loadSampleConfig()">Load the sample config</button>
</div>
