<h1>Configable</h1>
<p>A basic CRUD web app configurable with JSON</p>
<mat-card class="loading-options">
    <mat-card-content>
        <mat-card-content>
            Paste a JSON config or a URL to JSON config
        </mat-card-content>
        <mat-divider>or</mat-divider>
        <mat-card-footer>
            <button mat-fab extended color="primary" (click)="loadSampleConfig()">Start with a sample <mat-icon iconPositionEnd>rocket_launch</mat-icon></button>
        </mat-card-footer>
    </mat-card-content>
</mat-card>
<div class="links">
    <a mat-button href="/assets/config.json" target="_blank">
        View sample
        <mat-icon iconPositionEnd>open_in_new</mat-icon>
    </a>
    <mat-divider [vertical]="true"></mat-divider>
    <a mat-button href="/assets/config-schema.json" target="_blank">
        View JSON schema
        <mat-icon iconPositionEnd>open_in_new</mat-icon>
    </a>
</div>